@import "~bootstrap/dist/css/bootstrap.css";

.planet {
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  margin-right: 10px;
}

.planet:hover {
  opacity: 0.8;
}

.bg-grasslands {
  background-color: rgb(84, 114, 84);
  color: white;
}

.bg-desert {
  background-color: darkgoldenrod;
  color: white;
}

.bg-jungle {
  background-color: darkgreen;
  color: white;
}


